<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/1.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Made Using WeatherStack Api Mapbox.com</p>
        <img class="portrait" src="/img/wanda.png">
    </div>
    
    {{>footer}}
</body>

</html>